*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}
body
{
color:
#ededed;
}
.header
{
position: fixed;
top: 0;
left: 0; width: 100%;
padding: 20px 10%;
background: transparent; justify-content: space-between;
display: flex;
align-items: center;
z-index: 100;
}
.logo{
position: relative;
font-size: 25px;
color: #fff ;
text-decoration: none;
font-weight: 600;
}
.navbar a {
font-size: 25px;
color: #fff; text-decoration: none;
display: inline-block;
transition: .35;
font-weight: 500;
margin-left: 35px;
}
.navbar a:hover{
color:#0ef;
}
.home {
position: relative;
width: 100%;
height: 100vh;
justify-content: space-between;
background: url(https://cutewallpaper.org/27x/snd1ovukd/22225522.jpg) no-repeat;
background-position: center;
align-items: center;
background-size: cover;
display: flex;
padding: 50px 10% 0;
}
.home22 {
position: relative;
width: 100%;
height: 100vh;
justify-content: space-between;
background: url(https://cutewallpaper.org/27x/snd1ovukd/22225522.jpg) no-repeat;
background-position: center;
align-items: center;
background-size: cover;
display: flex;
justify-content: center;
padding: 50px 10% 0;
}
.home-content {
max-width: 600px;
}
.home-content11 {
align-items: center;
}
.home-content h3 {
font-size: 32px;
font-weight: 700;
I
}
.home-content h1 {
margin: -3px 0;
font-size: 56px;
font-weight: 700;
}
.home-content p {
font-size: 20px;
}
.home-sci a {
display: inline-flex; justify-content: center;
align-items: center; text-decoration: none;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #0ef ;
border-radius: 50%;
font-size: 20px; I
color:#0ef ;
margin: 30px 15px 30px 0;
}
.img_deg {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%); /* Center vertically */
}

.pos_cen {
  position: absolute;
  width: 70%;
  left: 1%;
  top: 20%;
}
.home-sci a:hover {
background:#0ef;
color: #081b29;
box-shadow: 0 0 20px #0ef;
}
.btn-box {
display: inline-block;
padding: 12px 28px;
background:#0ef;
border-radius: 40px;
font-size: 16px;
color: #081b29;
letter-spacing: 1px;
text-decoration: none;
font-weight: 600;
}
.btn-box:hover {
box-shadow: 0 0 5px cyan,
0 0 25px cyan, 0 0 50px cyan,
0 0 100px cyan, 0 0 200px cyan
}
.img_degg {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%); /* Center vertically */
}

.pos_cent {
  position: absolute;
  width: 70%;
  left: 1%;
  top: 20%;
}
.home-content1 {
max-width: 700px;
}
